
{% extends 'myapp/header.html' %}
{% block title %}Sign In{% endblock title %}
{% block body %}
<head>
	<link rel="stylesheet" href="/static/css/signin.css">
</head>
<body>
		<div class="container">
			<div class="center">
				<form action="{%url 'signin'%}" method="POST">
		{% csrf_token %}
					<div class="col-md-6" style="margin:auto; margin-top:60px; color:white;">
						<h1 style="color:white">Login Form</h1>
						{% for field in form %}
							<div class="fieldWrapper">

								{{field.errors}}
								{{field.label_tag}} {{field}}
							</div>
							{% endfor %}
					
						<!-- 

						{{form.as_p}} -->
						
						<button type="submit" class="btn btn-success">SignIn</button>
					</div>

						
					
							
						
				</form>
			</div>	
		</div>
				
</body>	
			
		

{% endblock body %}